.App {
  text-align: center;
  /* margin-left: auto;
  margin-right: auto; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}2020-08-14-16-29-08.png

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: Left;
  justify-content: left;  
  font-size: calc(1px + 2vmin);
  color: white;
}

 /* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */ 
.card {
  
   margin-left: auto;
  margin-right: auto;
  /* margin-top:;
  margin-bottom: auto; */
}

.expense-input {
  padding: 1px 2px;
  display: inline-block;
}

h3,h5{
  color:#61dafb;
  margin-left: auto;
  margin-right: auto;
  
}
p{
  color:#2d3d3d;
}
h2{
  color:#029cc7;
}

h6{
  color:white;
  align: center;
  margin-left: auto;
  margin-right: auto;
}

.btn-primary{
  background-color:#61dafb !important;
  color:#282c34 !important;
  border-color: #004c61 !important;
}


.navbar-brand{
  display: flex;
  float: left !important;
  margin-top: -12px !important;
  margin-bottom: -12px !important;
 
  
}

.navbar{
  color: #f4f4f5;
}